#top{
    border:2px solid palegoldenrod;
    width: 30%;
    margin-left: 30%;
    
}
#footer{
    border: 2px solid palegreen;
    width: 30%;
    margin-left: 30%;
}
#top_h1{
    position: relative;
    left: 32%;

}
#footer_h1{
    position: relative;
    left: 32%;
}